body{
	background: url(beckgraund.jpg) no-repeat center center fixed; 
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
p{
	margin:10% auto -8%;
	text-align:left; 
	width:60%;
    color: #ffffff;
	background-color: rgb(50,50,50);
	box-shadow: 0 0 50px 15px #000000;
	padding:1em 1.5em;
	opacity: 0.8;
}

